<%= form_for(@rent_payment) do |f| %>
  <% if @rent_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rent_payment.errors.count, "error") %> prohibited this rent_payment from being saved:</h2>

      <ul>
      <% @rent_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :renter_id, "", class: "input-header" %><br>
    <%= f.number_field :renter_id, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :subunit_id, "", class: "input-header" %><br>
    <%= f.number_field :subunit_id, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :amount, "MONTO", class: "input-header" %><br>
    <%= f.text_field :amount, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :payment_method_id, "MÉTODO PAGO", class: "input-header" %><br>
    <%= f.number_field :payment_method_id, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :subunit_rent_id, "", class: "input-header" %><br>
    <%= f.number_field :subunit_rent_id, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.label :receipt_number, "RECIBO", class: "input-header" %><br>
    <%= f.text_field :receipt_number, class: "form-control" %>
  </div>
  <div class="form-div col-md-6 col-md-offset-3">
    <%= f.submit class: "btn btn-default btn-block action-button aquamarine-button" %>
  </div>
<% end %>
