<%= render("transversals/navbar_admin") %>
<h1 class="text-center">Registro de Pago</h1>
<h3 class="text-center"><%= @subunit_rent.subunit.address_and_number %></h3>

<div class="container">
    <%= form_for(@rent_payment) do |f| %>
    <% if @rent_payment.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@rent_payment.errors.count, "error") %>
            prohibited this rent_payment from being saved:</h2>

        <ul>
            <% @rent_payment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <%= f.hidden_field :renter_id, :value => @subunit_rent.subunit.renter.id %>
    <%= f.hidden_field :subunit_id, :value => @subunit_rent.subunit.id %>
    <%= f.hidden_field :subunit_rent_id, :value => @subunit_rent.id %>


    <div class="form-div col-md-6 col-md-offset-3">
        <%= f.label :amount, "MONTO", class: "input-header" %><br>
        <%= f.text_field :amount, :value => @subunit_rent.amount, class: "form-control" %>
    </div>
    <div class="form-div col-md-6 col-md-offset-3">
        <%= f.label :payment_method_id, "MÉTODO PAGO", class: "input-header" %><br>
        <%= f.collection_select :payment_method_id, PaymentMethod.order(:name), :id, :name, {}, class: "form-control" %>
    </div>
    <div class="form-div col-md-6 col-md-offset-3">
        <%= f.label :receipt_number, "RECIBO", class: "input-header" %><br>
        <%= f.text_field :receipt_number, class: "form-control" %>
    </div>
    <div class="form-div col-md-6 col-md-offset-3">
        <%= f.submit "REGISTRAR", class: "btn btn-default btn-block action-button aquamarine-button" %>
    </div>
    <% end %>
</div>
