<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>
<h1 class="text-center">Detalle de Pago</h1>
<h3 class="text-center"><%= @rent_payment.subunit.address_and_number %></h3>
<h3 class="text-center">Periodo: <%= @rent_payment.subunit_rent.period.strftime("%m/%Y") %></h3>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <ul>
            <li class="list-item"><span class="li-title">Arrendador</span>:
                <%= @rent_payment.renter.renter_name_lastname %></li>
            <li class="list-item"><span class="li-title">Monto pagado</span>:
                <%= number_to_currency(@rent_payment.amount, :precision => 0, :delimiter => ".") %></li>
            <li class="list-item"><span class="li-title">Fecha pago</span>:
                <%= @rent_payment.payment_date.strftime("%d/%m/%Y") %></li>
            <li class="list-item"><span class="li-title">Forma pago</span>:
                <%= @rent_payment.payment_method.name %></li>
            <li class="list-item"><span class="li-title">Nº de recibo</span>:
                <%= @rent_payment.receipt_number %></li>
        </ul>
    </div>
</div>
