<p id="notice"><%= notice %></p>

<h1>Listing Comunes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comunes.each do |comune| %>
      <tr>
        <td><%= comune.name %></td>
        <td><%= link_to 'Show', comune %></td>
        <td><%= link_to 'Edit', edit_comune_path(comune) %></td>
        <td><%= link_to 'Destroy', comune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comune', new_comune_path %>
