<p id="notice"><%= notice %></p>

<p>
  <strong>Subunit:</strong>
  <%= @electricity_reading.subunit_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @electricity_reading.property_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @electricity_reading.period %>
</p>

<p>
  <strong>Total reading:</strong>
  <%= @electricity_reading.total_reading %>
</p>

<%= link_to 'Edit', edit_electricity_reading_path(@electricity_reading) %> |
<%= link_to 'Back', electricity_readings_path %>
