<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>
<h1 class="text-center">Nuevo Cobro de Arriendo</h1>
<h3 class="text-center"><%= @subunit.address_and_number %></h3>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for(@subunit_rent) do |f| %>
        <% if @subunit_rent.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@subunit_rent.errors.count, "error") %>
                prohibited this subunit_rent from being saved:</h2>

            <ul>
                <% @subunit_rent.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= f.hidden_field :subunit_id, :value => @subunit.id%>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :period, "PERIODO", class: "input-header" %><br>
            <%= f.date_select :period, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :amount, "MONTO", class: "input-header" %><br>
            <%= f.text_field :amount, :value => @subunit.rent_value, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.submit "CREAR ARRIENDO", class: "btn btn-default btn-block action-button aquamarine-button" %>
        </div>
        <% end %>
    </div>
</div>
