<div class="sub-nav"></div>
<h3 class="text-center">Editando subunidad <%= @subunit.address_and_number %></h3>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for(@subunit) do |f| %>
        <% if @subunit.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@subunit.errors.count, "error") %>
                prohibited this subunit from being saved:</h2>

            <ul>
                <% @subunit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>

        <%= f.hidden_field :property_id, :value => @subunit.property.id %>

        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :number, "Nº", class: "input-header" %><br>
            <%= f.text_field :number, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :square_meters, "METROS CUADRADOS", class: "input-header" %><br>
            <%= f.text_field :square_meters, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :property_type_id, "TIPO", class: "input-header" %><br>
            <%= f.collection_select :property_type_id, PropertyType.order(:description), :id, :description, {}, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :owner_id, "DUEÑO", class: "input-header" %><br>
            <%= f.collection_select :owner_id, Owner.order(:first_name), :id, :owner_name_lastname, {}, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :renter_id , "ARRENDADOR", class: "input-header" %><br>
            <%= f.collection_select :renter_id, Renter.order(:first_name), :id, :renter_name_lastname, {}, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :proration_percentage, "% PRORRATEO", class: "input-header" %><br>
            <%= f.number_field :proration_percentage, class: "form-control" %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 div-for-input">
            <%= f.label :charge_iva, "COBRO IVA", class: "input-header" %><br>
            <%= f.check_box :charge_iva %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 div-for-input">
            <%= f.label :charge_uf, "COBRO UF", class: "input-header" %><br>
            <%= f.check_box :charge_uf %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :rent_value, "VALOR ARRIENDO (EN UF O PESO SEGÚN CORRESPONDA)", class: "input-header" %><br>
            <%= f.text_field :rent_value, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :lease_startdate, "INICIO ARRIENDO", class: "input-header" %><br>
            <%= f.date_select :lease_startdate, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :lease_duration, "DURACIÓN ARRIENDO (EN MESES)", class: "input-header" %><br>
            <%= f.number_field :lease_duration, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :readjustment_percentage, "% DE REAJUSTE", class: "input-header" %><br>
            <%= f.number_field :readjustment_percentage, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.label :readjustment_months_period, "PERIODO DE REAJUSTE (EN MESES)", class: "input-header" %><br>
            <%= f.number_field :readjustment_months_period, class: "form-control" %>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 div-for-input">
            <%= f.submit "EDITAR SUBUNIDAD", class: "btn btn-default btn-block action-button aquamarine-button" %>
        </div>
        <% end %>
    </div>
</div>
