<%= render('transversals/navbar_admin') %>
<div class="separator"></div>
<div class="container-fluid">
    <div class="col-lg-3">
        <div class="holder-extern info-square">
            <div class="holder-intern">
                <h4><%= "#{@subunit.property.address}, Nº #{@subunit.number}" %></h4>
                <h5 class="text-center light-subheader"><%= @subunit.property_type.description %></h5>
            </div>
        </div>
    </div>
    <div class="col-lg-9 info-square holder-extern">
        <div class="holder-intern">
            <h4><%= "#{@subunit.property.address}, Nº #{@subunit.number}" %></h4>
            <h5 class="text-center light-subheader"><%= @subunit.property_type.description %></h5>
        </div>
    </div>
</div>
