<%= render('transversals/navbar_admin') %>
<div class="container">
  <h1 class="text-center"><%= "#{@subunit.property.address}, Nº #{@subunit.number}" %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <h3><%= @subunit.property_type.description %></h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <h3><%= @subunit.owner.first_name %></h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <h3><%= @subunit.renter.first_name %></h3>
    </div>
  </div>
</div>
