<p id="notice"><%= notice %></p>

<p>
  <strong>Square meters:</strong>
  <%= @subunit.square_meters %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @subunit.property_type_id %>
</p>

<p>
  <strong>Renter:</strong>
  <%= @subunit.renter_id %>
</p>

<p>
  <strong>Proration percentage:</strong>
  <%= @subunit.proration_percentage %>
</p>

<p>
  <strong>Rent value:</strong>
  <%= @subunit.rent_value %>
</p>

<p>
  <strong>Number:</strong>
  <%= @subunit.number %>
</p>

<p>
  <strong>Lease startdate:</strong>
  <%= @subunit.lease_startdate %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @subunit.owner_id %>
</p>

<%= link_to 'Edit', edit_subunit_path(@subunit) %> |
<%= link_to 'Back', subunits_path %>
