<div class="sub-nav"></div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-3 info-square">
        <div class="holder-extern">
            <div class="holder-intern">
                <h2 class="text-center"><%= @subunit.address_and_number %></h2>
                <h3 class="text-center header-nav">Arrendador:
                    <%= @subunit.renter.renter_name_lastname %></h3>
                <h4 class="text-center alert-header"><%= "Hasta #{@subunit.lease_end_date.strftime("%d/%m/%Y")}" %></h4>
                <!-- <h4 class="text-center"><%= @subunit.renter.email %></h4> -->
                <h3 class="text-center header-nav"><%= "#{@subunit.square_meters} m2" %></h3>
                <% if administrator_signed_in? %>
                <h5 class="text-center"><%= link_to "EDITAR SUBUNIDAD", edit_subunit_path(@subunit), class: "btn btn-default action-button chet-button" %></h5>
                <% end %>
            </div>
        </div>
    </div>
    <% if administrator_signed_in? %>
    <div class="col-lg-4 col-md-3 info-square">
      <%= render('actions_for_subunit') %>
    </div>
    <% end %>
    <% if renter_signed_in? || owner_signed_in? %>
    <div class="col-lg-4 col-md-3 info-square">
      <%= render('actions_for_subunit') %>
    </div>
    <% end %>
    <div class="col-lg-4 col-md-3 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-9 info-square">
        <div class="holder-extern-no-verticality table-div">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">PERIODO</th>
                            <th class="table-header">#</th>
                            <th class="table-header">MONTO</th>
                            <th class="table-header">CUPÓN</th>
                            <th class="table-header">PAGADO</th>
                            <th class="table-header">MORA</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @subunit_rents.each do |s| %>
                        <tr>
                            <td class="table-data"><%= s.period.strftime("%m/%Y") %></td>
                            <td class="table-data"><%= link_to s.id, subunit_rent_path(s.id) %></td>
                            <td class="table-data"><%= number_to_currency(s.amount, :precision => 0, :delimiter => ".") %></td>
                            <% if s.receipt.file? %>
                            <td class="table-data"><%= link_to "VER CUPÓN", s.receipt.url %></td>
                        <% else %>
                            <td class="table-data">SIN CUPÓN</td>
                            <% end %>
                            <% if s.payed? %>
                            <td class="table-data payed-rent">SI</td>
                        <% else %>
                            <td class="table-data not-payed-rent">NO</td>
                            <td class="table-data"><%= number_to_currency(s.get_overdue_charge, :precision => 0, :delimiter => ".") %></td>
                            <% end %>
                            <% if !s.payed? %>
                            <% if administrator_signed_in? %>
                            <td class="table-data"><%= link_to "PAGAR", new_rent_payment_path(:subunit_rent_id => s.id) %></td>
                            <% end %>
                        <% else %>
                            <td class="table-data"><%= number_to_currency(0, :precision => 0, :delimiter => ".") %></td>
                            <% if administrator_signed_in? %>
                            <td class="table-data"><%= link_to "EDITAR", edit_rent_payment_path(s.rent_payment, :subunit_rent_id => s.id) %></td>
                            <% end %>
                            <td class="table-data"><%= link_to "DETALLE", rent_payment_path(s.rent_payment) %></td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-9 info-square">
        <div class="holder-extern-no-verticality table-div">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">PERIODO</th>
                            <th class="table-header">#</th>
                            <th class="table-header">TOTAL</th>
                            <th class="table-header">CUPÓN</th>
                            <th class="table-header">PAGADO</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @common_expenses.each do |c| %>
                        <tr>
                            <td class="table-data"><%= c.period.strftime("%m/%Y") %></td>
                            <td class="table-data"><%= c.id %></td>
                            <td class="table-data"><%= number_to_currency(c.total, :precision => 0, :delimiter => ".") %></td>
                            <% if c.receipt.file? %>
                            <td class="table-data"><%= link_to "VER CUPÓN", c.receipt.url %></td>
                        <% else %>
                            <td class="table-data">SIN CUPÓN</td>
                            <% end %>
                            <% if c.payed? %>
                            <td class="table-data payed-rent">SI</td>
                        <% else %>
                            <td class="table-data not-payed-rent">NO</td>
                            <% end %>
                            <% if !c.payed? %>
                            <% if administrator_signed_in? %>
                            <td class="table-data"><%= link_to "PAGAR", new_common_expense_payment_path(:common_expense_subunit_id => c.id) %></td>
                            <% end %>
                        <% else %>
                            <% if administrator_signed_in? %>
                            <td class="table-data"><%= link_to "EDITAR", edit_common_expense_payment_path(c.common_expense_payment, :common_expense_subunit_id => c.id) %></td>
                            <% end %>
                            <td class="table-data"><%= link_to "DETALLE", common_expense_payment_path(c.common_expense_payment) %></td>
                            <% end %>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
</div>
