<%= render("transversals/navbar_admin") %>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-off-2">
        <h2 class="text-center">Crear Propietario</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-div col-lg-12 col-md-12">
            <%= f.label :company_name, "persona jurídica", class: "input-header" %><br/>
            <%= f.text_field :company_name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :first_name, "primer nombre", class: "input-header" %><br/>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :second_name, "segundo nombre", class: "input-header" %><br/>
            <%= f.text_field :second_name, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :first_last_name, "primer apellido", class: "input-header" %><br/>
            <%= f.text_field :first_last_name, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :second_last_name, "segundo apellido", class: "input-header" %><br/>
            <%= f.text_field :second_last_name, class: "form-control" %>
        </div>

        <div class="form-div col-lg-12 col-md-12">
            <%= f.label :email, "email", class: "input-header" %><br/>
            <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :mobile, "teléfono móvil", class: "input-header" %><br/>
            <%= f.text_field :mobile, class: "form-control" %>
        </div>

        <div class="form-div col-lg-6 col-md-6">
            <%= f.label :landline, "teléfono fijo", class: "input-header" %><br/>
            <%= f.text_field :landline, class: "form-control" %>
        </div>

        <div class="form-div col-lg-12 col-md-12">
            <%= f.label :password, "contraseña", class: "input-header" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>
                caracteres mínimo)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-div col-lg-12 col-md-12">
            <%= f.label :password_confirmation, "re-ingrese contraseña", class: "input-header" %><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-div col-lg-12 col-md-12">
            <%= f.submit "CREAR", class: "btn btn-default btn-block action-button aquamarine-button" %>
        </div>
        <% end %>
    </div>
</div>
