<%= render("transversals/navbar_admin") %>
<div class="sub-nav"></div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-6 col-sm-6 info-square">
        <div class="holder-extern">
            <div class="holder-intern">
                <h2 class="text-center"><%= "#{@property.address}" %></h2>
                <h3 class="text-center header-nav">Propietario:
                    <%= @property.owner.owner_name_lastname %></h3>
                <h3 class="text-center header-nav"><%= "#{@property.subunits.count} subunidades" %></h3>
                <%= link_to "EDITAR PROPIEDAD", edit_property_path(@property), class: "btn btn-default btn-block action-button chet-button" %>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 info-square">
        <div class="holder-extern-no-verticality">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div>
                    <div class="text-center">
                        <%= inline_svg("house.svg", {class: "house"}) %>
                    </div>
                    <%= link_to "SUBUNIDAD", new_subunit_for_property_path(:property_id => @property.id), class: "btn btn-default action-button golden-button" %>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div>
                    <div class="text-center holder-action-button">
                        <%= inline_svg("outcome.svg", {class: "outcome"}) %>
                    </div>
                    <%= link_to "EGRESOS", new_outcome_path(:property_id => @property.id), class: "btn btn-default action-button faded-button" %>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div>
                    <div class="text-center holder-action-button">
                        <%= inline_svg("money.svg", class: "money") %>
                    </div>
                    <%= link_to "ARRIENDO", rent_for_subunits_path(:property_id => @property.id), class: "btn btn-default action-button aquamarine-button" %>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div>
                    <div class="text-center">
                        <%= inline_svg("documents.svg", {class: "paper-sheet"}) %>
                    </div>
                    <%= link_to "G.COMÚN", new_matrix_common_expense_property_path(:property_id => @property.id), class: "btn btn-default action-button crimson-button" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 info-square">
        <div class="holder-extern-no-verticality table-div">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">Nº</th>
                            <th class="table-header">ARRENDADOR</th>
                            <th class="table-header">%</th>
                            <th class="table-header">FIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @subunits.each do |s| %>
                        <tr>
                            <td class="table-data"><%= link_to "#{s.number}", subunit_path(s) %></td>
                            <td class="table-data"><%= link_to "#{s.renter.renter_name_lastname}", renter_profile_path(:renter_id => s.renter.id) %></td>
                            <td class="table-data"><%= number_to_percentage(s.proration_percentage, precision: 3) %></td>
                            <td class="table-data"><%= s.lease_end_date.strftime("%d/%m/%Y") %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-6 col-sm-6 info-square">
        <div class="holder-extern">
            <div class="holder-intern">
                <div class="text-center">
                    <%= inline_svg("chart.svg", {class: "chart"}) %>
                </div>
                <%= link_to "HISTORIAL EGRESOS", outcomes_path, class: "btn btn-default btn-block action-button faded-button" %>
                <%= link_to "HISTORIAL GASTO COMÚN", history_common_expenses_property_common_expense_properties_path(@property.id), class: "btn btn-default btn-block action-button crimson-button" %>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-6 info-square" id="map-holder">
        <div class="holder-extern-no-verticality" id="map-square"></div>
    </div>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-6 col-md-12 info-square">
        <div class="holder-extern-no-verticality table-div">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">PERIODO</th>
                            <th class="table-header">AGUA</th>
                            <th class="table-header">GAS</th>
                            <th class="table-header">LUZ</th>
                            <th class="table-header">OTROS</th>
                            <th class="table-header">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @common_expenses.each do |c| %>
                        <tr>
                            <td class="table-data"><%= c.period.strftime("%m/%Y") %></td>
                            <td class="table-data"><%= number_to_currency(c.water, delimiter: ".", precision: 0) %></td>
                            <td class="table-data"><%= number_to_currency(c.gas, delimiter: ".", precision: 0) %></td>
                            <td class="table-data"><%= number_to_currency(c.electricity, delimiter: ".", precision: 0) %></td>
                            <td class="table-data"><%= number_to_currency(c.others, delimiter: ".", precision: 0) %></td>
                            <td class="table-data"><%= number_to_currency(c.total, delimiter: ".", precision: 0) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 info-square">
        <div class="holder-extern">
            <div class="chart-holder">
                <canvas id="common-expense-history"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-6 col-md-12 info-square">
        <div class="holder-extern">
            <div class="chart-holder">
                <canvas id="outcomes-history"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 info-square">
        <div class="holder-extern-no-verticality table-div">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">FECHA</th>
                            <th class="table-header">TOTAL</th>
                            <th class="table-header">TIPO</th>
                            <th class="table-header">DETALLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @outcomes.each do |o| %>
                        <tr>
                            <td class="table-data"><%= o.date %></td>
                            <td class="table-data"><%= number_to_currency(o.ammount, delimiter: ".", precision: 0) %></td>
                            <td class="table-data"><%= o.outcome_category.name %></td>
                            <td class="table-data"><%= truncate(o.details, :length => 60) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('turbolinks:load', function () {
        var ctx = document.getElementById("common-expense-history");
        var date = new Date();
        var dataArray = <%= raw @array_of_ce_for_chart.to_json %>;
        var monthNames = [
            "ENE",
            "FEB",
            "MAR",
            "ABR",
            "MAY",
            "JUN",
            "JUL",
            "AGO",
            "SEP",
            "OCT",
            "NOV",
            "DIC"
        ]
        if (ctx) {
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        monthNames[date.getMonth()],
                        monthNames[date.getMonth() - 1],
                        monthNames[date.getMonth() - 2],
                        monthNames[date.getMonth() - 3],
                        monthNames[date.getMonth() - 4],
                        monthNames[date.getMonth() - 5],
                        monthNames[date.getMonth() - 6],
                        monthNames[date.getMonth() - 7],
                        monthNames[date.getMonth() - 8],
                        monthNames[date.getMonth() - 9],
                        monthNames[date.getMonth() - 10],
                        monthNames[date.getMonth() + 1],
                        monthNames[date.getMonth()]
                    ],
                    datasets: [
                        {
                            label: 'GASTO COMÚN',
                            data: dataArray,
                            backgroundColor: 'RGBA(8, 255, 174, 0.2)',
                            borderColor: 'RGBA(8, 255, 174, 1.00)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
        }
    });
</script>
<script>
    $(document).on('turbolinks:load', function () {
        var ctx = document.getElementById("outcomes-history");
        var date = new Date();
        var monthNames = [
            "ENE",
            "FEB",
            "MAR",
            "ABR",
            "MAY",
            "JUN",
            "JUL",
            "AGO",
            "SEP",
            "OCT",
            "NOV",
            "DIC"
        ]
        if (ctx) {
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [
                        monthNames[date.getMonth()],
                        monthNames[date.getMonth() - 1],
                        monthNames[date.getMonth() - 2],
                        monthNames[date.getMonth() - 3],
                        monthNames[date.getMonth() - 4],
                        monthNames[date.getMonth() - 5],
                        monthNames[date.getMonth() - 6],
                        monthNames[date.getMonth() - 7],
                        monthNames[date.getMonth() - 8],
                        monthNames[date.getMonth() - 9],
                        monthNames[date.getMonth() - 10],
                        monthNames[date.getMonth() + 1],
                        monthNames[date.getMonth()]
                    ],
                    datasets: [
                        {
                            label: 'EGRESOS',
                            data: [],
                            backgroundColor: 'RGBA(132, 125, 243, 0.2)',
                            borderColor: 'RGBA(132, 125, 243, 1.00)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
        }
    });
</script>
<script>
    $(document).on('turbolinks:load', function () {
        var map = null;
        var mapOptions = {
          disableDefaultUI: true,
            zoom: 16,
            center: new google.maps.LatLng(-33.440794, -70.655469),
            streetViewControl: false,
            scrollwheel: false,
            styles: [
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#747474"
                        }, {
                            "lightness": "23"
                        }
                    ]
                }, {
                    "featureType": "poi.attraction",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#f38eb0"
                        }
                    ]
                }, {
                    "featureType": "poi.government",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ced7db"
                        }
                    ]
                }, {
                    "featureType": "poi.medical",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffa5a8"
                        }
                    ]
                }, {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c7e5c8"
                        }
                    ]
                }, {
                    "featureType": "poi.place_of_worship",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#d6cbc7"
                        }
                    ]
                }, {
                    "featureType": "poi.school",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c4c9e8"
                        }
                    ]
                }, {
                    "featureType": "poi.sports_complex",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b1eaf1"
                        }
                    ]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "lightness": "100"
                        }
                    ]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }, {
                            "lightness": "100"
                        }
                    ]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffd4a5"
                        }
                    ]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffe9d2"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "weight": "3.00"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "weight": "0.30"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#747474"
                        }, {
                            "lightness": "36"
                        }
                    ]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#e9e5dc"
                        }, {
                            "lightness": "30"
                        }
                    ]
                }, {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "on"
                        }, {
                            "lightness": "100"
                        }
                    ]
                }, {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#d2e7f7"
                        }
                    ]
                }
            ]
        };

        var geocoder = new google.maps.Geocoder();
        var address = "<%= @property.address %>, Santiago, Chile"
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({map: map, position: results[0].geometry.location});
            }
        })

        map = new google.maps.Map(document.getElementById("map-square"), mapOptions);
    });
</script>
