<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>

<h1 class="text-center">Nuevo tipo de propiedad</h1>

<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <%= form_for(@property_type) do |f| %>
      <% if @property_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@property_type.errors.count, "error") %> prohibited this property_type from being saved:</h2>
          <ul>
          <% @property_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :description, "DESCRIPCIÓN", class: "input-header" %><br>
        <%= f.text_field :description, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "CREAR", class: "btn btn-default btn-block action-button aquamarine-button" %>
      </div>
    <% end %>
  </div>
</div>
