<%= form_for(@common_expense_subunit) do |f| %>
  <% if @common_expense_subunit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@common_expense_subunit.errors.count, "error") %> prohibited this common_expense_subunit from being saved:</h2>

      <ul>
      <% @common_expense_subunit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subunit_id %><br>
    <%= f.number_field :subunit_id %>
  </div>
  <div class="field">
    <%= f.label :electricity_charge %><br>
    <%= f.text_field :electricity_charge %>
  </div>
  <div class="field">
    <%= f.label :water_charge %><br>
    <%= f.text_field :water_charge %>
  </div>
  <div class="field">
    <%= f.label :gas_charge %><br>
    <%= f.text_field :gas_charge %>
  </div>
  <div class="field">
    <%= f.label :others_charge %><br>
    <%= f.text_field :others_charge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
