<p id="notice"><%= notice %></p>

<h1>Listing Common Expense Payments</h1>

<table>
  <thead>
    <tr>
      <th>Renter</th>
      <th>Subunit</th>
      <th>Amount</th>
      <th>Payment method</th>
      <th>Common expense subunit</th>
      <th>Receipt number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @common_expense_payments.each do |common_expense_payment| %>
      <tr>
        <td><%= common_expense_payment.renter_id %></td>
        <td><%= common_expense_payment.subunit_id %></td>
        <td><%= common_expense_payment.amount %></td>
        <td><%= common_expense_payment.payment_method_id %></td>
        <td><%= common_expense_payment.common_expense_subunit_id %></td>
        <td><%= common_expense_payment.receipt_number %></td>
        <td><%= link_to 'Show', common_expense_payment %></td>
        <td><%= link_to 'Edit', edit_common_expense_payment_path(common_expense_payment) %></td>
        <td><%= link_to 'Destroy', common_expense_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Common expense payment', new_common_expense_payment_path %>
