<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-12 info-square">
        <div class="holder-extern-no-verticality">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div class="col-lg-6 col-md-4 col-sm 4 col-xs-6 properties-detail">
                    <div>
                        <h1 class="text-center"><%= @properties.count %></h1>
                        <h3 class="text-center">propiedades</h3>
                        <h5 class="text-center"><%= link_to "ver todas", properties_path, class: "" %></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div class="col-lg-6 col-md-4 col-sm 4 col-xs-6 properties-detail">
                    <div>
                        <h1 class="text-center"><%= @subunits.count %></h1>
                        <h3 class="text-center">subunidades</h3>
                        <h5 class="text-center"><%= link_to "ver todas", subunits_path, class: "" %></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div>
                    <h1 class="text-center"><%= number_to_currency(@uf.value, :precision => 0, :delimiter => ".") %></h1>
                    <h3 class="text-center">valor UF</h3>
                    <h5 class="text-center"><%= link_to "cambiar", edit_important_numerical_value_path(@uf) %></h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 square-divided-four">
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 info-square">
        <div class="holder-extern">
            <div class="holder-inter">
                <div class="text-center">
                    <%= inline_svg("more-money.svg", {class: "money"}) %>
                </div>
                <%= link_to "PAGAR ARRIENDO", search_rent_charge_path, class: "btn btn-default btn-block action-button aquamarine-button" %>
                <%= link_to "PAGAR GASTO COMÚN", search_common_expense_subunit_path, class: "btn btn-default btn-block action-button faded-button" %>
            </div>
        </div>
    </div>
    <% if !@subunits_end_lease.blank? %>
    <div class="col-lg-4 col-md-6 info-square">
        <div class="holder-extern-no-verticality">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">SUBUNIDAD</th>
                            <th class="table-header">REAJUSTE</th>
                            <th class="table-header">ARRENDADOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @subunits_end_lease.each do |s| %>
                        <tr>
                            <td class="table-data"><%= link_to "#{s.address_and_number}", subunit_path(s) %></td>
                            <% if s.lease_end_date - Date.today <= 30 %>
                              <td class="table-data alert-data"><%= s.lease_end_date.strftime("%d/%m/%Y") %></td>
                            <% else %>
                              <td class="table-data"><%= s.readjustment_date.strftime("%d/%m/%Y") %></td>
                            <% end %>
                            <td class="table-data"><%= s.renter.renter_name_lastname %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<% else %>
    <div class="col-lg-4 col-md-6 info-square">
        <div class="holder-extern">
            <div class="holder-inter">
                <h3 class="text-center">No hay subunidades que reajusten pronto.</h3>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-6 col-md-6 info-square">
        <div class="holder-extern-no-verticality">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">NOMBRE</th>
                            <th class="table-header">EMAIL</th>
                            <th class="table-header">PROPIEDADES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @owners.each do |o| %>
                        <tr>
                            <td class="table-data"><%= o.owner_name_lastname %></td>
                            <td class="table-data"><%= o.email %></td>
                            <td class="table-data"><%= o.properties.count %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 info-square">
        <div class="holder-extern-no-verticality table-holder">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <thead>
                            <th class="table-header">NOMBRE</th>
                            <th class="table-header">EMAIL</th>
                            <th class="table-header">PROPIEDADES</th>
                        </thead>
                    </tr>
                    <tbody>
                        <% @renters.each do |r| %>
                        <tr>
                            <td class="table-data"><%= link_to "#{r.renter_name_lastname}", renter_profile_path(:renter_id => r.id) %></td>
                            <td class="table-data"><%= r.email %></td>
                            <td class="table-data"><%= r.properties.count %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-3 col-md-6 info-square">
        <div class="holder-extern">
            <div class="chart-holder">
                <canvas id="property-types-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 info-square">
        <div class="holder-extern-no-verticality">
        </div>
    </div>
    <div class="col-lg-3 col-md-6 info-square">
        <div class="holder-extern">
            <div class="chart-holder">
                <canvas id="property-types-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('turbolinks:load', function () {
        var ctx = document.getElementById("property-types-chart");
        if (ctx) {
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [
                        "Red",
                        "Blue",
                        "Yellow",
                        "Green",
                        "Purple",
                        "Orange"
                    ],
                    datasets: [
                        {
                            label: '# of Votes',
                            data: [
                                12,
                                19,
                                3,
                                5,
                                2,
                                3
                            ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
        }
    });
</script>
