<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern-no-verticality">
            <div class="col-lg-6 col-md-4 col-sm 4 col-xs-6 properties-detail">
                <div>
                    <h1 class="text-center"><%= @properties.count %></h1>
                    <h4 class="text-center">propiedades</h4>
                    <h5 class="text-center"><%= link_to "ver todas", properties_path, class: "" %></h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm 4 col-xs-6 properties-detail">
                <div>
                    <h1 class="text-center"><%= @subunits.count %></h1>
                    <h4 class="text-center">subunidades</h4>
                    <h5 class="text-center"><%= link_to "ver todas", subunits_path, class: "" %></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern-no-verticality">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-header">NOMBRE</th>
                            <th class="table-header">EMAIL</th>
                            <th class="table-header">PROPIEDADES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @owners.each do |o| %>
                        <tr>
                            <td class="table-data"><%= o.owner_name_lastname %></td>
                            <td class="table-data"><%= o.email %></td>
                            <td class="table-data"><%= o.properties.count %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern-no-verticality table-holder">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <thead>
                            <th class="table-header">NOMBRE</th>
                            <th class="table-header">EMAIL</th>
                            <th class="table-header">PROPIEDADES</th>
                        </thead>
                    </tr>
                    <tbody>
                        <% @renters.each do |r| %>
                        <tr>
                            <td class="table-data"><%= r.renter_name_lastname %></td>
                            <td class="table-data"><%= r.email %></td>
                            <td class="table-data"><%= r.properties.count %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-squares">
    <div class="col-lg-6 col-md-4 info-square">
        <div class="holder-extern">
          <canvas id="property-types-chart"></canvas>
        </div>
    </div>
    <div class="col-lg-6 col-md-4 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
</div>
