<%= render('transversals/navbar_admin') %>
<div class="sub-nav"></div>
<div class="container-fluid container-squares">
    <div class="col-lg-4 col-md-4 info-square">
        <div class="holder-extern">
          <div class="holder-intern">
            <h2 class="text-center"><%= @renter.renter_name_lastname %></h2>
            <h3 class="text-center"><%= mail_to "#{@renter.email}" %></h3>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h2 class="text-center"><%= @renter.subunits.count %></h2>
              <h4 class="text-center">subunidades</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
              <%= link_to "EDITAR PERFIL", NIL, class: "btn btn-default action-button chet-button" %>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-4 info-square">
        <div class="holder-extern">
            <div class="holder-intern"></div>
        </div>
    </div>
</div>
