<%= render('transversals/navbar_admin') %>
<div class="container-fluid container-squares">
  <%= form_tag url_for(:controller => 'administrators', :action => 'create_rent_for_subunits') do %>
    <% @subunits.each do |s| %>
    <div class="col-lg-3 col-md-6 col-sm-6 info-square">
        <div class="holder-extern">
            <div class="holder-intern">
              <h3><%= s.renter.renter_name_lastname %></h3>
              <h3><%= "Nº #{s.number}" %></h3>
              <div class="form-div">
                <%= label_tag("SUBUNIDAD", nil, {class: "input-header"}) %><br>
                <%= number_field_tag("subunit_rents[][subunit_id]", s.id, {class: "form-control"}) %>
              </div>
              <div class="form-div">
                <%= label_tag("MONTO", nil, {class: "input-header"}) %><br>
                <%= text_field_tag("subunit_rents[][amount]", s.rent_value, {class: "form-control"}) %>
              </div>
            </div>
        </div>
    </div>
    <% end %>
    <div class="form-div">
      <%= submit_tag "CREAR COBROS ARRIENDO", class: "btn btn-default btn-block action-button aquamarine-button" %>
    </div>
  <% end %>
</div>
