<p id="notice"><%= notice %></p>

<h1>Listing Common Expense Properties</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Water</th>
      <th>Gas</th>
      <th>Electricity</th>
      <th>Others</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @common_expense_properties.each do |common_expense_property| %>
      <tr>
        <td><%= common_expense_property.property_id %></td>
        <td><%= common_expense_property.water %></td>
        <td><%= common_expense_property.gas %></td>
        <td><%= common_expense_property.electricity %></td>
        <td><%= common_expense_property.others %></td>
        <td><%= common_expense_property.details %></td>
        <td><%= link_to 'Show', common_expense_property %></td>
        <td><%= link_to 'Edit', edit_common_expense_property_path(common_expense_property) %></td>
        <td><%= link_to 'Destroy', common_expense_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Common expense property', new_common_expense_property_path %>
